In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
engage = pd.read_csv('takehome_user_engagement.csv')

In [3]:
engage.head(), engage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null object
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

(            time_stamp  user_id  visited
 0  2014-04-22 03:53:30        1        1
 1  2013-11-15 03:45:04        2        1
 2  2013-11-29 03:45:04        2        1
 3  2013-12-09 03:45:04        2        1
 4  2013-12-25 03:45:04        2        1, None)

In [4]:
engage['time_stamp'] = pd.to_datetime(engage['time_stamp'])
engage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null datetime64[ns]
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.8 MB

In [5]:
len(engage['user_id'].unique())

8823

In [6]:
test = engage.pivot_table(index='time_stamp', columns='user_id', aggfunc='sum')

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 207220 entries, 2012-05-31 08:20:06 to 2014-06-06 14:58:50
Columns: 8823 entries, (visited, 1) to (visited, 12000)
dtypes: float64(8823)
memory usage: 13.6 GB

In [8]:
test = test.resample('1W').sum()

In [9]:
test = test.fillna(0.0)

In [10]:
test.head()

           visited                                                        \
user_id      1     2     3     4     5     6     7     10    11    13
time_stamp
2012-06-03     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2012-06-10     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2012-06-17     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2012-06-24     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2012-07-01     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

            ...
user_id     ...  11989 11990 11991 11992 11995 11996 11997 11998 11999 12000
time_stamp  ...
2012-06-03  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   1.0   0.0
2012-06-10  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2012-06-17  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2012-06-24  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2012-07-01  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 8823 columns]

In [11]:
test = test.transpose()

In [12]:
test.head()

time_stamp       2012-06-03  2012-06-10  2012-06-17  2012-06-24  2012-07-01  \
        user_id
visited 1               0.0         0.0         0.0         0.0         0.0
        2               0.0         0.0         0.0         0.0         0.0
        3               0.0         0.0         0.0         0.0         0.0
        4               0.0         0.0         0.0         0.0         0.0
        5               0.0         0.0         0.0         0.0         0.0

time_stamp       2012-07-08  2012-07-15  2012-07-22  2012-07-29  2012-08-05  \
        user_id
visited 1               0.0         0.0         0.0         0.0         0.0
        2               0.0         0.0         0.0         0.0         0.0
        3               0.0         0.0         0.0         0.0         0.0
        4               0.0         0.0         0.0         0.0         0.0
        5               0.0         0.0         0.0         0.0         0.0

time_stamp          ...      2014-04-06  2014-04-13  2014-04-20  2014-04-27  \
        user_id     ...
visited 1           ...             0.0         0.0         0.0         1.0
        2           ...             1.0         0.0         0.0         0.0
        3           ...             0.0         0.0         0.0         0.0
        4           ...             0.0         0.0         0.0         0.0
        5           ...             0.0         0.0         0.0         0.0

time_stamp       2014-05-04  2014-05-11  2014-05-18  2014-05-25  2014-06-01  \
        user_id
visited 1               0.0         0.0         0.0         0.0         0.0
        2               0.0         0.0         0.0         0.0         0.0
        3               0.0         0.0         0.0         0.0         0.0
        4               0.0         0.0         0.0         0.0         0.0
        5               0.0         0.0         0.0         0.0         0.0

time_stamp       2014-06-08
        user_id
visited 1               0.0
        2               0.0
        3               0.0
        4               0.0
        5               0.0

[5 rows x 106 columns]

In [13]:
def sums(row):
    return row.sum()

test['logins'] = test.apply(sums, 1)

In [14]:
test['logins']

         user_id
visited  1            1.0
         2           14.0
         3            1.0
         4            1.0
         5            1.0
         6            1.0
         7            1.0
         10         284.0
         11           1.0
         13           1.0
         14           1.0
         17           1.0
         19           2.0
         20           7.0
         21           1.0
         22           1.0
         23           1.0
         24           1.0
         25           2.0
         27           1.0
         28           1.0
         29           1.0
         30           1.0
         31           1.0
         33          18.0
         36           1.0
         37           1.0
         41           1.0
         42         342.0
         43           8.0
                    ...
         11961       33.0
         11962        1.0
         11963        2.0
         11964      160.0
         11965        8.0
         11967       43.0
         11968        1.0
         11969      131.0
         11974        1.0
         11975      216.0
         11977        1.0
         11979        1.0
         11980        8.0
         11981        4.0
         11982        1.0
         11983        1.0
         11984        1.0
         11986        1.0
         11987        1.0
         11988       30.0
         11989        1.0
         11990        1.0
         11991        5.0
         11992        1.0
         11995        1.0
         11996        1.0
         11997        1.0
         11998        1.0
         11999        1.0
         12000        1.0
Name: logins, Length: 8823, dtype: float64

In [15]:
cols = list(test.columns)
cols.pop()

'logins'

In [16]:
cols[-1]

Timestamp('2014-06-08 00:00:00', freq='W-SUN')

In [17]:
def adopted(row):
    val = 0
    for i in cols:
        if row[i] >= 3:
            val = 1
            break
    return val

In [18]:
test['adopted'] = test.apply(adopted, 1)

In [19]:
test['adopted'].sum()

1445

In [20]:
user_id = list(test.index.get_level_values(1))

In [21]:
adopted = list(test['adopted'])

In [22]:
logins = list(test['logins'])

In [23]:
adopted_dict = {'user_id':user_id, 'adopted':adopted, 'logins':logins}
adopted_df = pd.DataFrame(adopted_dict)

In [24]:
adopted_df.head()

   adopted  logins  user_id
0        0     1.0        1
1        1    14.0        2
2        0     1.0        3
3        0     1.0        4
4        0     1.0        5

In [25]:
adopted_df[['user_id','adopted', 'logins']].to_csv('adopted.csv')